#ball {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: rgb(87, 223, 8);
  border-radius: 50%;
}

#rail {
  margin-top: 20px;
  height: 50px;
  width: 550px;
  position: relative;
  border-bottom: 2px solid indianred;
}
